.header {
  --background: var(--vibrant-blue);
  --foreground: var(--pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-unit);
  line-height: 1;
  padding: var(--spacing-unit-small, 24px) var(--spacing-unit);
  color: var(--foreground);
  background-color: var(--background);
}

.header__primary {
  flex: 999;

  a {
    text-decoration: none;
  }
}

.header__secondary {
  flex: 1;
}

.header__title {
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  font-weight: 900;
  letter-spacing: -3px;
  margin-bottom: var(--spacing-unit-tiny);
}

.header__sub-title {
  font-size: clamp(var(--base-font-size), 0.825rem + 0.875vw, var(--h4-font-size));
  font-weight: 200;
  letter-spacing: -1px;
}